# solution root contains IntelliJ’s project specific settings files.
.idea

# environment
/py_env/*

# ignoring logs
/logs/logging.py.log
/logs/logging.py.log.*

# ignoring models
/models/model_01/
/models/model_02/
/models/model_03/checkpoint
/models/model_03/model_03.ckpt.data-00000-of-00001
/models/model_03/model_03.ckpt.index

# ignoring test set
/data/test/

# ignoring some flask apps
/flask-app/app2.py
/flask-app/app_working.py
/flask-app/tests.py

# environment
venv
__pycache__

